<div class="row mb-4">
    <div class="btn-group" name="container">
        <button class="btn btn-primary" btnRadio="Unread" (click)="loadMessages()" [(ngModel)]="container"><i class="fa fa-envelope"></i>Unread</button>
        <button class="btn btn-primary" btnRadio="Inbox" (click)="loadMessages()" [(ngModel)]="container"><i class="fa fa-envelope-open"></i>Inbox</button>
        <button class="btn btn-primary" btnRadio="Outbox" (click)="loadMessages()" [(ngModel)]="container"><i class="fa fa-paper-plane"></i>Outbox</button>
    </div>
</div>

<div class="row" *ngIf="messages?.length === 0">
    <h3>目前沒有訊息。</h3>
</div>

<div class="row" *ngIf="messages?.length > 0">
    <table class="table table-hover" style="cursor: pointer;">
        <thead>
            <tr>
                <td style="width: 40%;">Message</td>
                <td style="width: 20%;">From / To</td>
                <td style="width: 20%;">Sent / Received</td>
                <td style="width: 20%;"></td>
            </tr>
        </thead>
        <tbody>
            <tr [hidden]="loading" *ngFor="let message of messages" 
                routerLink="{{container === 'Outbox' 
                ? '/members/' + message.recipientUsername 
                : '/members/' + message.senderUsername}}" [queryParams]="{tab: 3}">
                <td>{{message.content}}</td>
                <td>
                    <div *ngIf="container === 'Outbox'">
                        <img 
                            class="img-circle rounded-circle mr-2"
                            src="{{message.recipientPhotoUrl || './assets/Images/user.png'}}" 
                            alt="{{message.recipientUsername}}">
                        <strong>{{message.senderUsername | titlecase}}</strong>
                    </div>
                    <div *ngIf="container !== 'Outbox'">
                        <img 
                            class="img-circle rounded-circle mr-2"
                            src="{{message.senderPhotoUrl || './assets/Images/user.png'}}" 
                            alt="{{message.senderUsername}}">
                        <strong>{{message.senderUsername | titlecase}}</strong>
                    </div>
                </td>
                <td>{{message.messageSent | timeago}}</td>
                <td>
                    <!-- stopPropagetion()阻止當前事件繼續進行捕捉及冒泡階段的傳遞。 => tr的routerLink就不會被觸發! -->
                    <button class="btn btn-danger" (click)="$event.stopPropagation()" (click)="deleteMessage(message.id)" >Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="d-flex justify-content-center" *ngIf="pagination && !loading && messages.length !== 0">
    <pagination 
    [boundaryLinks]="true" 
    [totalItems]="pagination.totalItems"
    [itemsPerPage]="pagination.itemsPerPage"
    [(ngModel)]="pagination.currentPage"
    (pageChanged)="pageChange($event)"
    previousText="&lsaquo;" 
    nextText="&rsaquo;" 
    firstText="&laquo;" 
    lastText="&raquo;">
    </pagination>
</div>
