<form #registeForm="ngForm" (submit)="register()" autocomplete="off">
    <h2 class="text-center text-primary">歡迎註冊</h2>
    <hr/>
    <div class="form-group">
        <!-- [(ngModel)]可以記錄使用者輸入的資訊，以name當作指標。 -->
        <input class="form-control" type="text" name="username" [(ngModel)]="model.username" placeholder="帳號"/>
    </div>
    <div class="form-group">
        <input class="form-control" type="password" name="password" [(ngModel)]="model.password" placeholder="密碼"/>
    </div>
    <div class="form-group">
        <select name="" id="" class="form-control">
            <option selected hidden>請選擇喜歡的人</option>
            <option *ngFor="let user of usersFromHomeComponent" [value]="user.userName">{{user.userName}}</option>
        </select>
    </div>
    <div class="form-group text-center">
        <button class="btn btn-success mr-2" type="submit">註冊</button>
        <button class="btn btn-danger mr-2" type="button" (click)="cancel()">取消</button>
    </div>
</form>
