<form #registeForm="ngForm" (submit)="register()" autocomplete="off">
    <h2 class="text-center text-primary">歡迎註冊</h2>
    <hr/>
    <div class="form-group">
        <!-- [(ngModel)]可以記錄使用者輸入的資訊，以name當作指標。 -->
        <input class="form-control" type="text" name="username" [(ngModel)]="model.username" placeholder="帳號"/>
    </div>
    <div class="form-group">
        <input class="form-control" type="password" name="password" [(ngModel)]="model.password" placeholder="密碼"/>
    </div>
    <div class="form-group">
        <input class="form-control" type="email" name="email" [(ngModel)]="model.email" placeholder="信箱"/>
    </div>
    <div class="form-group">
        <select name="favor" class="form-control" [(ngModel)] = "model.SexualId">
            <option selected disabled>性別</option>
            <option value="1">男性</option>
            <option value="2">女性</option>
            <option value="3">中性</option>
        </select>
    </div>
    <div class="form-group">
        <select name="favor" class="form-control" [(ngModel)] = "model.FavorId">
            <option selected disabled>請選擇喜歡的類型</option>
            <option *ngFor="let favors of favorsFromHomeComponent" [value]="favors.favorId">{{favors.favorType}}</option>
        </select>
    </div>
    <div class="form-group text-center">
        <button class="btn btn-success mr-2" type="submit">註冊</button>
        <button class="btn btn-danger mr-2" type="button" (click)="cancel()">取消</button>
    </div>
</form>
